.filter-panel {
    display: block;
}

.btn-div {
    min-width: 300px;
    height: 50px;
    margin: 10px -5px 0px 10px;
    background-color: rgb(245, 243, 243);
    box-shadow: inset;
    display: flex;
    align-items: center;
    box-shadow:-1px 1px 3px grey;
    border-radius: 3px;
}
.apply-btn {
    background-color: rgba(189, 28, 63, 0.863);
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 0px 8px 15px;
    width: 120px;
    height: 30px;
    box-shadow:-1px 1px 3px grey;
    display: flex;
    cursor: pointer;
}
.apply-btn:hover {
    background-color: rgb(189, 28, 63);
    box-shadow: 0 0 0 2px #eecbd7;
}
.apply-btn:active {
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
}
.filter-div {
    width: 300px;
    margin: 20px 0 0 10px;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow:-1px 1px 3px grey;    
}
.input {
    margin: 10px 0px 10px 0px;
    border: none;
    width: 80%;
    outline: none;    
}
.invisible {
    display: none;
}
