<div
    tabindex="0"
    class="realtyobject"
    id="{{ realtyobject.nf_realtyobjectid }}"
    [ngClass]="{
        sold: realtyobject.nf_status === status.sold,
        free: realtyobject.nf_status === status.free,
        estimation: realtyobject.nf_status === status.estimation,
        booked: realtyobject.nf_status === status.booked,
    }"
    (click)="makeActive($event)"
    (contextmenu)="displayContextMenu($event); false"
    (blur)="onBlur()"
>
    <app-context-menu
        *ngIf="rightClickMenuItems.length > 0 && isDisplayContextMenu"
        [ngStyle]="getRightClickMenuStyle()"
        [contextMenuItems]="rightClickMenuItems"
        (onStatusMenuItemClick)="handleStatusItemClick($event)"      
    ></app-context-menu>
    <table [ngStyle]="{'table-layout': 'fixed', 'width': '100%'}">
        <tr>
            <td>{{ realtyobject.nf_name }}</td>
            <td [ngStyle]="{'text-align':'right'}">{{ realtyobject.nf_status }}</td>
        </tr>
        <tr>
            <td>{{ realtyobject.nf_area }}</td>
            <td [ngStyle]="{'text-align':'right'}">{{ realtyobject.nf_price | currency: 'RUB': 'symbol-narrow' }}</td>
        </tr>
        <tr>
            <td></td>
            <td [ngStyle]="{'text-align':'right'}">{{ realtyobject.nf_amount | currency: 'RUB': 'symbol-narrow' }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>    
</div>