<div class="project">
    <div class="buttons">
        <button class="collapse-button"
                (click)="handleFilterHide()"
        ><img src="../assets/icons/eq_icon.png" [ngStyle]="{'max-width': '20px', 'margin-right': '4px' }"></button>
        <button class="scroll-button"><</button>
        <button class="scroll-button">></button>
        <div>
            <button
                class="tablink"
                *ngFor="let building of filterBuildings"
                (click)="showTab($event, building.nf_buildingid)"
            >{{ building.nf_name | uppercase }}</button>
        </div>
    </div>
    <app-building
        *ngFor="let building of filterBuildings" 
        [building] = "building"
    ></app-building>
</div>
